* {
	padding: 0;
	margin: 0;
}
body {
	font: 12px/1.5 Arial, Verdana, Tahoma, sans-serif;
	color: #5f5f5f;
	background: #FFFAF0;
}
#form {
	width: 500px;
	background: #f0f0f0;
	border: 1px solid #a8bcc3;
	margin: 20px auto;
	padding: 20px 40px;
}
h1 {
	color: #696969;
	font-size: 18px;
	border-bottom: 1px solid #b6b6b6;
	margin-bottom: 5px;
}
.row {
	padding: 5px 0;
}
p {
	font-weight: bold;
	margin-bottom: 5px;
	color: #92acb6;
}
input[type="text"], input[type="password"]{
	font: 12px Areal, Verdana, Tahoma, sans-serif;
	color: #5d5d5d;
	border: 1px solid #b6b6b6;
	width: 210px;
	height: 26px;
	padding: 0 5px;
}
input[type="submit"], input[type="reset"]{
	margin: 10px 10px 10px 0;
	padding: 5px 5px;
	font: 12px Areal, Verdana, Tahoma, sans-serif;
	color: #5d5d5d;
	border: 1px solid #b6b6b6;
}
