* {
	padding: 0;
	margin: 0;
}
body {
	font: 12px/1.5 Arial, Verdana, Tahoma, sans-serif;
	color: #5f5f5f;
	background: url("../images/images2.jpg");
	background-size: 100%; 
}
#form {
	width: 200px;
	background-image: url("../images/images1.jpg");
	border: 1px solid #a8bcc3;
	margin: 20px auto;
	padding: 20px 40px;
}
h1 {
	color: #696969;
	font-size: 18px;
	border-bottom: 1px solid #b6b6b6;
	margin-bottom: 5px;
}