* {
	padding: 0;
	margin: 0;
}
#content{
	font: 12px/1.5 Arial, Verdana, Tahoma, sans-serif;
	width: 600px;
	margin: 0 auto;
	color: #5f5f5f;
	background: url(../images/images4.jpg)	;
}
#top-line {
	height: 100px;
	width: 600px;
	margin: 0 auto;
	background-image: url(../images/images5.jpg);
	border-bottom: 1px solid #a8bcc3;
}
table {
	width: 600px;
	background: #ffffff;
	border: 1px solid #000000;
	margin: 20px auto;
	padding: 20px 40px;
	border-collapse: collapse;
}
caption {
	font: 15px  Arial, Verdana, Tahoma, sans-serif;
}
thead{
	background: #BCEBDD;
	color: #5f5f5f;
	text-shadow: 0 1px 1px #000;
}
th, td {
	border: 1px solid black;
	padding: 5px 5px;
}
td {
	background: #F8E391;
}
h1 {
	margin: 10px auto;
	width: 600px;
	border-bottom: 1px solid #a8bcc3;
	color: #5f5f5f;
	font-size: 20px;
}
th:second-child, td:second-child {
text-align: left;
}
th:first-child {
border-top-left-radius: 10px;
}
th:last-child {
border-top-right-radius: 10px;
border-right: none;
}
tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}
tr td:last-child {
border-right: none;
}
.form1{
	font: 12px/1.5 Arial, Verdana, Tahoma, sans-serif;
	width: 250px;
	margin: 10px auto;
	color: #5f5f5f;
	border-bottom: 1px solid #a8bcc3;
}
input[type="submit"], input[type="reset"]{
	width: 250px;
	margin: 20px auto;
	padding: 5px 5px;
	font: 12px Areal, Verdana, Tahoma, sans-serif;
	color: #5d5d5d;
	background-color: #fff;
	border: 1px solid #b6b6b6;
}
#form {
	width: 250px;
	background: #f0f0f0;
	border: 1px solid #a8bcc3;
	margin: 20px auto;
	padding: 20px 40px;
}